<nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">Khetu</a>
    <ul class="navbar-nav mr-auto" >
        <li class="nav-item active">
            <a class="nav-link" href="">Vegetable</a>
        </li>
        <li class="nav-item active">
            <a href="" class="nav-link">Fruits</a>
        </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
        <div >
            <button class="btn btn-default" (click)="openFormModal()">Login</button>
        </div>
        <div>
            <a  (click)="SignUp()"  class=" mr-sm-2"  >SignUp</a>   
        </div>
       
       
       
    </div>
</nav>
