<div class="card" style="width: 18rem;">
  <img src="/assets/newImages{{product.image}}">
  <div class="card-body">
    <h6 class="card-title">{{product.name}}</h6>
    <p class="card-text">{{product.price}}</p>
    <div class="card-footer">
      <div *ngIf="!quantity else addQuantity" class="no-gutter">
        <a  class="btn btn-block btn btn-light " (click)="addToCart()">Add</a>
      </div>
      <ng-template #addQuantity>
        <app-quantity [product]="product"></app-quantity>
     
      </ng-template>
    </div>
  

  </div>
</div>